@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Serena's Favorite Recipes</h1>
    <p class="lead">Welcome to my favorite recipes blog! Here you'll find some recipes I love straight from other sites, recipes I've tweaked, and some I've created myself!</p>
    <p><a class="btn btn-default" href="..\Recipes\Index">View all recipes &raquo;</a></p>

</div>

<h2>Featured Categories</h2>
<div class="row">
    <div class="col-md-4 recipe-thumbnail">
        <a href=@Url.Action("Category", "Recipes", new { category = "Dessert"}, null)><img class="img img-thumbnail" src="..\..\assets\dessert.jpg" /></a>
        <h2>@Html.ActionLink("Dessert", "Category", "Recipes", new { category = "Dessert" }, null)</h2>
    </div>
    <div class="col-md-4 recipe-thumbnail">
        <a href=@Url.Action("Category", "Recipes", new { category = "Dinner"}, null)><img class="img img-thumbnail" src="..\..\assets\dinner.jpg" /></a>
        <h2>@Html.ActionLink("Lunch and Dinner", "Category", "Recipes", new { category = "Dinner" }, null)</h2>
    </div>
    <div class="col-md-4 recipe-thumbnail">
        <a href=@Url.Action("Category", "Recipes", new { category = "Breakfast"}, null)><img class="img img-thumbnail" src="..\..\assets\breakfast.jpg" /></a>
        <h2>@Html.ActionLink("Breakfast", "Category", "Recipes", new { category = "Breakfast" }, null)</h2>
    </div>
</div>

<h2>Featured Recipes</h2>
<div class="row">
    <div class="col-md-4 recipe-thumbnail">
        <a href=@Url.Action("Recipe", "Recipes", new { id = 1, @RecipesBlog.Controllers.HomeController.GetRecipe(1).Name }, null)><img class="img img-thumbnail" src=@RecipesBlog.Controllers.HomeController.GetRecipe(1).Image_URL /></a>
        <h2>
            @Html.ActionLink(@RecipesBlog.Controllers.HomeController.GetRecipe(1).Name, "Recipe", "Recipes", new { id = 1, name = @RecipesBlog.Controllers.HomeController.GetRecipe(1).Name }, null)
        </h2>
    </div>
    <div class="col-md-4 recipe-thumbnail">
        <a href=@Url.Action("Recipe", "Recipes", new { id = 2, @RecipesBlog.Controllers.HomeController.GetRecipe(2).Name}, null)><img class="img img-thumbnail" src=@RecipesBlog.Controllers.HomeController.GetRecipe(2).Image_URL /></a>
        <h2>@Html.ActionLink(@RecipesBlog.Controllers.HomeController.GetRecipe(2).Name, "Recipe", "Recipes", new { id = 2, @RecipesBlog.Controllers.HomeController.GetRecipe(2).Name }, null)</h2>
    </div>
    <div class="col-md-4 recipe-thumbnail">
        <a href=@Url.Action("Recipe", "Recipes", new { id = 4, name = @RecipesBlog.Controllers.HomeController.GetRecipe(4).Name}, null)><img class="img img-thumbnail" src=@RecipesBlog.Controllers.HomeController.GetRecipe(4).Image_URL /></a>
        <h2>@Html.ActionLink(@RecipesBlog.Controllers.HomeController.GetRecipe(4).Name, "Recipe", "Recipes", new { id = 4, name = @RecipesBlog.Controllers.HomeController.GetRecipe(4).Name }, null)</h2>
    </div>
</div>