@model IEnumerable<RecipesBlog.Models.Recipe>

@{
    ViewBag.Title = "Recipes";
}

<h2>Recipes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Directions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <div style="height:80px; overflow:hidden">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
        </td>
        <td>
            <div style="height:80px; overflow:hidden">
                @Html.DisplayFor(modelItem => item.Ingredients)
            </div>
        </td>
        <td>
            <div style="height:80px; overflow:hidden">
                @Html.DisplayFor(modelItem => item.Directions)
            </div>
        </td>
        <td>
            <div style="height:80px; overflow:hidden">
                @Html.DisplayFor(modelItem => item.Source)
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            <a href=@Url.Action("Recipe", "Recipes", new { id = item.Id, name = item.Name })>View |</a>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
